.item_data {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.75rem;
}

.item {
  color: #696963;
  border-bottom: 1px solid #c4c4c0;
}

.item_model,
.item_type,
.item_note {
  text-align: left;
}

.item_model {
  color: #000000;
  font-weight: bold;
}
